.userWidget{
    display:flex;
    margin:0 auto;
}
.navbar{
    margin-top:2rem;
    display: flex;
    flex-direction: column; 
    gap: 25px;
    width:20%;
}
.userFeed{
    display:flex;
    flex-direction: column;
    width:100%;
    gap:2rem;
    padding:2rem;
}