.searchWidgetBar{
    gap:10px;
    margin:0 auto;
    border:2px solid;
    border-radius: 10px;
    padding:0.2rem;
    max-width:25rem;
    max-height:22.7rem;   
    overflow-y: auto; 
    overflow-x: clip; 
    height: 80vh;
    width:15rem;
}
.searchWidget input{
    margin-top:0.5rem;
    background-color: transparent;
    border-radius: 10px;
    border:2px solid inherit;
}
.searchWidgetBarList{
    display:flex;
    flex-direction: row;
    gap:10px;
    margin:0 auto;
    padding:0.2rem;
    max-width:25rem;
}
.customSizePicture{
    width:30px;
    height:30px;
}
.resultImage{
    margin-left:1rem;
}
.nameResult {
    display:flex;
    flex-direction: row;
}

.isRead{
    opacity: 60%;
}
.widget{
    width:88%;
}
