
.firstCol {
    display:flex;
}
.secondCol{
    display:flex;
    width:25rem;
    flex-direction: initial;
    gap:1rem;
    margin:0 auto;
}
.Sec{
    display:block;
    margin:1rem auto;
}
.passwordSettings{
    display:flex;
    position: relative;
    flex-direction: row;
    margin:0 auto;
}
.isPassword{
    display:flex;
    gap:1rem;
}
.activatePrivateProfile{
    display:flex;
    align-items: center;
    gap:5.3rem;

}
.checkBox{
    display:flex;
}
body p {
    display:block;
}

@media only screen and (max-width: 1000px) {
    .isPassword{
        display:flex;
        flex-direction: column;
        gap:0;
    }
}